@import "tailwindcss";
/* * {
  margin: 0;
  padding: 0;
} */
main {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to left bottom, #95d6a4,#464218,black, black);
}
/* .home{
  padding: 40px;

} */
.logo{
  font-size: 60px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.reqo{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:white;
  /* letter-spacing: .05em; */
}
input{
  /* background-color: white; */
  border:none;
  border-bottom: 1px solid #d9ca26;
  width: 100%;
  outline: none;
  color: white;
}
.warn{
   border:none;
  border-bottom: 1px solid #95d6a4;
  width: 100%;
  outline: none;
  color: white;
}
.form > div{
  display: grid;
  gap: 2px;
}
.form > div > h2{
  color: white;
  font-size: 14px;
  font-weight: 600;
}